body {
    background-color: rgb(200, 250, 255);
    font-family: helvetica;
}
h1 {
    text-align: center;
}
h3 {
    color: rgb(203, 25, 96);
}
table, th, td {
    border: 2px solid rgb(255, 156, 243);
}
#pWork {
    border: solid rgb(255, 156, 243);
    width: 10%;
}
form {
    background-color: rgb(54, 194, 147);
}